#ignore profiler datas
*.profraw
*.profdata
profdata/*.profraw
profdata/*.profdata

#ignore images and texts
*.png
*.bmp

#ignore build_dirs
.idea
Interface
cmake-build-debug
build
builds
build/.cmake
cmake-build-debug-remote-host

#ignore cmake things
*.cmake
